



a,
a:link,
a:visited {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

a::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: red;

}

a:hover::after {
    width: 16%;
}

a::after {
    display: block;
    content: "";
    width: 0;
    height: 10px;
    background-color: green;
    transition: width .35s ease-in;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: square;
    animation-duration: 4s;
    animation-timing-function: ease;

}

@keyframes square {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: blueviolet;
        left: 500px;
        top: 0px;
    }

    50% {
        background-color: limegreen;
        left: 500px;
        top: 500px;
        border-radius: 50%;
    }


    75% {
        background-color: orange;
        left: 0px;
        top: 500px;

    }

    100% {
        background-color: blue;
        left: 0px;
        top: 0px;
        border-radius: 0px;

    }
}